@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "tailwindcss";

@theme {
  --breakpoint-xs: 320px;
  --color-brown: #bda37d;
}


/* General styles */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  /* background: rgb(245,246,251);
  background: linear-gradient(135deg, rgba(245,246,251,1) 0%, rgba(214,226,252,1) 100%); */
}

h1,
h2,
h3,
h4,
a,
p {
  font-family: "DM Sans", sans-serif;
  color: #262626;
}

/* .bg-colour {
  background-color: #bda37d;
} */