@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --breakpoint-xs: 320px;
  --color-brown: #b87651;
}


/* General styles */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
a,
p {
  font-family: "Outfit", sans-serif;
  color: #262626;
}

