/* @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import "tailwindcss";

@theme {
  --breakpoint-xs: 320px;
  --color-brown: #ae8463;
}

/* General styles */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
a,
p {
  font-family: "Open Sans", sans-serif;
  color: #262626;
}

.white{
  color: white;
  /* text-shadow: 2px 2px 4px black */
}

.title1 {
  font-family: "Playfair", sans-serif;
}